.container {
  width: 100%;
  background-color: var(--primary-bg-1);
  color: var(--primary-color-1);
}

.center {
  padding: 0.5em;

  width: 90%;
  max-width: 750px;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links {
  display: flex;
}

.link {
  margin-right: 1em;
  transform: scale(1);

  transition: var(--transistion);
}

.logo {
  margin-right: 1em;
  transform: scale(1);
  font-size: 1.75rem;
  transition: var(--transistion);
}

.link:hover,
.logo:hover {
  transform: scale(1.02);
  transition: var(--transistion);
  color: var(--focus-color);
}
