.container {
  width: 100%;
  background-color: var(--primary-bg-1);
  color: var(--primary-color-1);
}

.center {
  width: 90%;
  padding-bottom: 0.5em;
  padding-top: 0.5em;

  max-width: 750px;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links {
  display: flex;
}

.link {
  margin-right: 0.7em;
  transform: scale(1);

  transition: var(--transistion);
}

.logo {
  margin-right: 0em;
  transform: scale(1);
  font-size: 1.75rem;
  transition: var(--transistion);
}

.link:hover,
.logo:hover,
.link:focus,
.logo:focus {
  transform: scale(1.02);
  transition: var(--transistion);
  color: var(--focus-color);
}

.activeLink {
  color: var(--focus-color);
}

.activeLink:hover,
.activeLink:focus {
  transform: scale(1);
}

.activeLink a:hover,
.activeLink a:focus {
  cursor: default;
}
