.transaction div {
  display: flex;
  align-items: center;
  min-height: 100%;
}
.transaction button {
  background-color: transparent;
  color: var(--primary-secondary-1);
  margin-right: 0.5em;
  display: flex;
}

.transaction button:hover {
  background-color: transparent;
  color: var(--negative);
}

.negative {
  border-right: 1em solid var(--negative);
}

.plus {
  border-right: 1em solid var(--plus);
}

.left {
  width: 50%;
  margin-right: 1em;
  flex-shrink: 1;
}

.center {
  min-width: 20%;
  margin-right: 1em;
  flex-shrink: 1;
}

.right {
  width: 15%;
  flex-shrink: 1;
}
