.transaction {
  background-color: var(--primary-color-2);
  margin-top: 1em;
  border: 1px solid #0003;
  box-shadow: 1px 2px 4px #0005;
  display: flex;
  justify-content: space-between;
}

.title {
  padding: 1em;
}

.cost {
  padding: 1em;
}
.negative {
  border-right: 1em solid var(--negative);
}

.plus {
  border-right: 1em solid var(--plus);
}
