.container {
  margin: 3em auto;
}
.form {
  padding: 1em;
  margin-top: 1em;
}

.formLeft {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.formLeft div {
  align-items: baseline;
  display: flex;
}

.titleSection,
.amountSection {
  min-width: 100%;
  flex: 1;
}

.titleSection {
  margin-bottom: 1em;
}

.form label {
  text-align: center;
  margin-right: 1em;
}

.form input {
  border: none;
  border-radius: 99px;
  background-color: var(--primary-bg-main);
  padding: 1em;
  margin-right: 0.7em;
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.form button {
  width: 100%;
  display: flex;
  align-items: baseline;
}

@media screen and (min-width: 600px) {
  .titleSection {
    min-width: 50%;
    margin-bottom: 0em;
  }
  .amountSection {
    min-width: 40%;
    margin-right: 1em;
  }
}
