.container {
  margin: 3em auto;
}
.form {
  background-color: var(--primary-color-2);
  border: 1px solid #0003;
  box-shadow: 1px 2px 4px #0005;
  display: flex;
  align-items: center;
  padding: 1em;
  margin-top: 1em;
  justify-content: space-between;
}

.formLeft {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.formLeft div {
  align-items: baseline;
  display: flex;
  width: 100%;
  flex: 1;
}

.formRight {
  display: flex;
}
.form label {
  text-align: center;
  margin-right: 0.7em;
}

.form input {
  border: none;
  border-radius: 99px;
  background-color: var(--primary-bg-main);
  padding: 1em;
  margin-bottom: 1em;
  margin-right: 0.7em;
}

.titleInput {
  display: flex;
  flex: 1.5;
}

.priceInput {
  display: flex;

  flex: 1;
}

.formRight {
  display: flex;
}
.form button {
  width: 100%;
  display: flex;
  align-items: baseline;
  margin-bottom: 1em;
}
