:root {
  --primary-bg-1: #482;
  --primary-bg-2: #593;
  --primary-color-1: #f8f8f8;
  --primary-color-2: #fff;
  --transistion: all linear 150ms;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

li {
  list-style: none;
}

a {
  color: var(--primary-color-1);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

a:hover {
  color: var(--primary-color-2);
  transform: scale(1.5);
  transition: --transistion;
}
